<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(orders.length>0) {%>
        <% for(order of orders) {%>
            <h1><%= order._id%></h1>
            <div>
                <% for(prod of order.items) { %>
                    <%= prod.title%> <%= prod.quantity%>
                <% } %>
            </div>
        <% } %>
        <% } else {%>
        <h1>Nothing there!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>